snippet ltr
<!-- How we met -->

<!-- About me / Description of where I am   -->

<!-- What you can help with  -->
Thank you,
Mike Wilding
endsnippet


snippet	youtube 
{{< youtube $1 >}}
endsnippet

snippet modal
{{< modal >}}


{{ /modal}}
endsnippet



